/*   Menu Lateral   */ 

.menu__titulo {
    margin-left: 1rem;
}

.menu__link___conteudo{
    font-size: 0.9rem;
    margin-left: 1rem;    
}

.ativo{
    margin-bottom: 1rem;
    font-weight: bold;
}

.menu__img{
    height: 40px;
}

.menu__item{
    display: flex;
    flex-direction: column;  
    padding: 10px 0 10px 10px;   
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #03152b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }